{% extends "index_app/base.html" %}
{% load static %}

{% block body %}

<!-- START HOME -->
<section id="home" class="atf-header-area atf-align-items-details" style="background-image: url({% static 'index_app/assets/img/bg/bg.jpg' %});  background-size:cover; background-position: center center;">
    <div class="container">
        <div class="row justify-content-left">
             <!--LEFT COL-->
            <div class="col-xl-7 col-lg-6 col-12 atf-single-details text-left">
                <h2 class="text-uppercase title-color">Надежный логистический <span>Партнер</span> на всех дорогах России</h2>
                <p class="f-17 mt-4 text-white">Решения для логистики, перевозок и доставки.</p>
                <!-- Main-btn -->
                <div class="atf-main-btn mt-5">
                    <a class="atf-themes-btn  atf-themes-btn-one ms-2" href="{% url 'index:contacts' %}">
                        <i class="btn-curve"></i>
                        <span class="btn-title">Связаться с нами</span>
                    </a>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END HOME -->

{% include "index_app/includes/shortcalculate.html" %}

{% include "index_app/includes/checkstatus.html" %}

{% include "index_app/includes/ourservices.html" %}

{% include "index_app/includes/aboutus.html" %}

{% if news %}
    {% include "index_app/includes/recentnews.html" with news=news %}
{% endif %}

{% endblock %}