{% extends "index_app/base.html" %}
{% load static %}
{% load django_jsonform %}

{% block local_libraries %}
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
{% endblock %}

{% block body %}

<!-- start-page-heading -->
<div class="atf-page-heading atf-size-md atf-dynamic-bg" style="background-image: url({% static 'index_app/assets/img/slider/6.jpg' %}); background-size:cover; background-position: center top;">
	<div class="container">
		<div class="atf-page-heading-in text-center">
			<h1 class="atf-page-heading-title">Личный кабинет</h1>
			<div class="atf-post-label">
				<span><a href="{% url 'index:index' %}">Домой</a></span>
				<span>Личный кабинет</span>
			</div>
		</div>
	</div>
</div>

<section id="orderFilter">
    <div class="container-fluid">
        <div class="row atf-section-padding">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                <div class="atf-section-title  text-left">
                    <div class="contact mt-4">
                        <div class="atf-contact-form form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <span>Дата с:</span>
                                    <input 
                                        v-model="dateFrom"
                                        type="date" 
                                        class="form-control">
                                </div>
                                <div class="form-group col-lg-6">
                                    <span>Дата по:</span>
                                    <input 
                                        v-model="dateTo"
                                        type="date" 
                                        class="form-control" 
                                    >
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <button @click="getOrdersList" class="atf-themes-btn  atf-themes-btn-one">
                                        <i class="btn-curve"></i>
                                        <span class="btn-title">Отобрать</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if orders_list %}
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table order-list-table">
                        <thead>
                        <tr>
                            <th scope="col">Печать маркировки</th>
                            <th scope="col">Номер</th>
                            <th scope="col">Документы</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Отправление</th>
                            <th scope="col">Получение</th>
                            <th scope="col">Грузополучатель</th>
                            <th scope="col">Объем, м3</th>
                            <th scope="col">Вес, кг</th>
                            <th scope="col">Стоимость, руб</th>
                            <th scope="col">Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in ordersList" :key="item.number">
                                <td>
                                    <div @click="getOrderMark(item.number)" class="icon">
                                        <i class="fas fa-print"></i>
                                    </div>
                                </td>
                                <td @click="getOrderStatusHistory">
                                    <button 
                                        title="Проверить статус заказа" 
                                        class="order-number"
                                    >${ item.number }$</button>
                                </td>
                                <td>${ item.clients_docs }$</td>
                                <td>${ item.date }$</td>
                                <td>${ item.from.name }$ ${ item.region_from.name }$</td>
                                <td>${ item.to.name }$ ${ item.recipient_address }$</td>
                                <td>${ item.recipient.name }$</td>
                                <td>${ item.volume }$</td>
                                <td>${ item.weight }$</td>
                                <td>${ item.summ }$</td>
                                <td>${ item.status }$</td>
                            </tr>
                            <tr>
                                <td colspan="6" class="table-secondary"></td>
                                <td class="table-secondary" style="text-align: right;">Итого:</td>
                                <td class="table-secondary">{{ order_totals.total_volume }}</td>
                                <td class="table-secondary">{{ order_totals.total_weight }}</td>
                                <td class="table-secondary">{{ order_totals.summ }}</td>
                                <td class="table-secondary"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                <div class="atf-section-title  text-left">
                    <div class="contact mt-4">
                        <div class="atf-contact-form form">                            
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <button @click="getExcelFile" class="atf-themes-btn  atf-themes-btn-one">
                                        <i class="btn-curve"></i>
                                        <span class="btn-title">Сохранить</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                    <div class="atf-section-title  text-center ">
                        <h2 class="title-color">Ошибка формирования истории заказов</h2>
                        <p class="f-15 mt-3">{{ error }}</p>                        
                    </div>
                </div><!--- END COL -->
            </div>
            {% endif %}
        </div><!--- END ROW -->		
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->


{% endblock %}

{% block local_scripts %}
<script type="module" setup>
    const { createApp } = Vue
    const orderFilter = {
        data () {
            return {
                dateFrom: "",
                dateTo: "",
                ordersList: {{ orders_list|safe }}
            }
        },
        delimiters: ["${", "}$"],
        mounted () {
            this.dateFrom = '{{ date_from }}';
            this.dateTo = '{{ date_to }}';
            this.ordersList.forEach(item => {
                item.statusList = ""
            })
        },
        computed: {
            orderListFilterData () {
                let data = {}
                if (this.dateFrom) {
                    data.date_from = this.dateFrom
                }
                if (this.dateTo) {
                    data.date_to = this.dateTo
                }
                return data
            },
        },
        methods: {
            getOrdersList () {
                window.location.assign(window.location.origin + `/lk/?${new URLSearchParams(this.orderListFilterData).toString()}`)
            },
            getExcelFile () {
                window.location.assign(window.location.origin + `/lk/download/?${new URLSearchParams(this.orderListFilterData).toString()}`)
            },
            getOrderStatusHistory (event) {
                let id = event.target.innerText
                let order = this.ordersList.find(item => item.number == id)
                let tr = event.target.parentNode.parentNode
                let table = tr.parentNode
                if (order.statusList) {
                    order.statusList = ""
                    let existingStatusRow = table.getElementsByClassName(`${id}`)[0];
                    if (existingStatusRow) {
                        existingStatusRow.remove();
                    }
                    return;
                }
                let url = `${window.location.origin}/api/v1/order/check-status/?num=${id}`
                axios({
                    method: 'get',
                    url: url,
                }).then(response => {
                    let orderInfo = response.data.data[0]
                    let existingStatusRow = table.getElementsByClassName(`${id}`)[0];
                    if (existingStatusRow) {
                        existingStatusRow.remove();
                    }
                    order.statusList = orderInfo.status
                    table.insertRow(tr.rowIndex).innerHTML = 
                    `<td colspan="11" class="table-secondary order-status ${id}">
                        Статус заказа ${id}: ${ orderInfo.status }
                    </td>`;
                }).catch(error => {
                    console.log(error)
                    table.insertRow(tr.rowIndex).innerHTML = 
                    `<td colspan="11" class="table-secondary order-status ${id}">
                        Сервис временно недоступен, попробуйте сделать запрос позднее.
                    </td>`;
                })
            },
            getOrderMark (id) {
                window.location.assign(window.location.origin + `/lk/full-marking/?${new URLSearchParams({number: id}).toString()}`)
            }
        }
    }
    const app = createApp(orderFilter)
    app.mount('#orderFilter')
</script>    
{% endblock %}