{% extends "index_app/base.html" %}
{% load static %}

{% block local_libraries %}
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
{% endblock %}

{% block body %}

<!-- start-page-heading -->
<div class="atf-page-heading atf-size-md atf-dynamic-bg" style="background-image: url({% static 'index_app/assets/img/slider/6.jpg' %}); background-size:cover; background-position: center top;">
	<div class="container">
		<div class="atf-page-heading-in text-center">
			<h1 class="atf-page-heading-title">Личный кабинет</h1>
			<div class="atf-post-label">
				<span><a href="{% url 'index:index' %}">Домой</a></span>
				<span>Личный кабинет</span>
			</div>
		</div>
	</div>
</div>

<section id="contact_info">
    <div class="container">
        <div class="row atf-section-padding">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                <div class="atf-section-title  text-left">
                    <div class="contact mt-4">
                        <div id="orderFilter" class="atf-contact-form form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <span>Дата с:</span>
                                    <input 
                                        v-model="dateFrom"
                                        type="date" 
                                        class="form-control">
                                </div>
                                <div class="form-group col-lg-6">
                                    <span>Дата по:</span>
                                    <input 
                                        v-model="dateTo"
                                        type="date" 
                                        class="form-control" 
                                    >
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <button @click="getOrdersList" class="atf-themes-btn  atf-themes-btn-one">
                                        <i class="btn-curve"></i>
                                        <span class="btn-title">Отобрать</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if orders_list %}
            {% for item in orders_list %}
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Номер</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Отправление</th>
                            <th scope="col">Получение</th>
                            <th scope="col">Объем, м3</th>
                            <th scope="col">Вес, кг</th>
                            <th scope="col">Стоимость, руб.</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in orders_list%}
                        <tr>
                            <td>{{ item.number }}</td>
                            <td>{{ item.date }}</td>
                            <td>{{ item.city_from.name }}</td>
                            <td>{{ item.city_to.name }}</td>
                            <td>{{ item.get_order_volume }}</td>
                            <td>{{ item.get_order_weight }}</td>
                            <td>{{ item.cost }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="table-secondary"></td>
                            <td class="table-secondary" style="text-align: right;">Итого:</td>
                            <td class="table-secondary">{{ order_totals.total_volume }}</td>
                            <td class="table-secondary">{{ order_totals.total_weight }}</td>
                            <td class="table-secondary">{{ order_totals.summ }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--- END COL -->
            {% endfor %}
            {% else %}
            <div class="row justify-content-center">
                <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                    <div class="atf-section-title  text-center ">
                        <h2 class="title-color">В указанные даты заказов не создано</h2>
                        <p class="f-15 mt-3">Выберите другие даты для поиска</p>
                    </div>
                </div><!--- END COL -->
            </div>
            {% endif %}
        </div><!--- END ROW -->		
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->


{% endblock %}

{% block local_scripts %}
<script type="module" setup>
    const { createApp } = Vue
    const orderFilter = {
        data () {
            return {
                dateFrom: "",
                dateTo: "",
            }
        },
        mounted () {
            this.dateFrom = '{{ date_from }}'
            this.dateTo = '{{ date_to }}'
        },
        computed: {
            orderListFilterData () {
                let data = {}
                if (this.dateFrom) {
                    data.date_from = this.dateFrom
                }
                if (this.dateTo) {
                    data.date_to = this.dateTo
                }
                return data
            },
        },
        methods: {
            getOrdersList () {
                window.location.assign(window.location.origin + `/lk/?${new URLSearchParams(this.orderListFilterData).toString()}`)
            }
        }
    }
    const app = createApp(orderFilter)
    app.mount('#orderFilter')
</script>    
{% endblock %}