{% extends "index_app/base.html" %}
{% load static %}
{% load django_jsonform %}

{% block local_libraries %}
<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
{% endblock %}

{% block body %}

<!-- start-page-heading -->
<div class="atf-page-heading atf-size-md atf-dynamic-bg" style="background-image: url({% static 'index_app/assets/img/slider/6.jpg' %}); background-size:cover; background-position: center top;">
	<div class="container">
		<div class="atf-page-heading-in text-center">
			<h1 class="atf-page-heading-title">Личный кабинет</h1>
			<div class="atf-post-label">
				<span><a href="{% url 'index:index' %}">Домой</a></span>
				<span>Личный кабинет</span>
			</div>
		</div>
	</div>
</div>

<section id="orderFilter">
    <div class="container-fluid">
        <div class="row atf-section-padding">
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                <div class="atf-section-title  text-left">
                    <div class="contact mt-4">
                        <div class="atf-contact-form form">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <span>Дата с:</span>
                                    <input 
                                        v-model="dateFrom"
                                        type="date" 
                                        class="form-control">
                                </div>
                                <div class="form-group col-lg-6">
                                    <span>Дата по:</span>
                                    <input 
                                        v-model="dateTo"
                                        type="date" 
                                        class="form-control" 
                                    >
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <button @click="getOrdersList" class="atf-themes-btn  atf-themes-btn-one">
                                        <i class="btn-curve"></i>
                                        <span class="btn-title">Отобрать</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if orders_list %}
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table order-list-table">
                        <thead>
                        <tr>
                            <th scope="col">Печать маркировки</th>
                            <th scope="col">Номер</th>
                            <th scope="col">Документы</th>
                            <th scope="col">Дата</th>
                            <th scope="col">Отправление</th>
                            <th scope="col">Получение</th>
                            <th scope="col">Грузополучатель</th>
                            <th scope="col">Объем, м3</th>
                            <th scope="col">Вес, кг</th>
                            <th scope="col">Стоимость, руб</th>
                            <th scope="col">Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                            <template v-for="item in ordersList" :key="item.number">
                                <tr>
                                    <td>
                                        <div @click="getOrderMark(item.number)" class="icon">
                                            <i class="fas fa-print"></i>
                                        </div>
                                    </td>
                                    <td>
                                        <button 
                                            title="Проверить статус заказа" 
                                            class="order-number"
                                            @click="getOrderStatusHistory(item.number)"
                                        >${ item.number }$</button>
                                    </td>
                                    <td>${ item.clients_docs }$</td>
                                    <td>${ item.date }$</td>
                                    <td>${ item.from.name }$ ${ item.region_from.name }$</td>
                                    <td>${ item.to.name }$ ${ item.recipient_address }$</td>
                                    <td>${ item.recipient.name }$</td>
                                    <td>${ item.volume }$</td>
                                    <td>${ item.weight }$</td>
                                    <td>${ item.summ }$</td>
                                    <td>${ item.status }$</td>
                                </tr>
                                <tr
                                    v-if="loadingStatusByOrder[item.number] || statusByOrder[item.number] || statusErrorByOrder[item.number]"
                                    :key="`${item.number}-status`"
                                >
                                    <td colspan="11" class="table-secondary order-status">
                                        <span v-if="loadingStatusByOrder[item.number]">Загрузка статуса заказа...</span>
                                        <span v-else-if="statusByOrder[item.number]">Статус заказа ${ item.number }$: ${ statusByOrder[item.number] }$</span>
                                        <span v-else>${ statusErrorByOrder[item.number] }$</span>
                                    </td>
                                </tr>
                            </template>
                            <tr>
                                <td colspan="6" class="table-secondary"></td>
                                <td class="table-secondary" style="text-align: right;">Итого:</td>
                                <td class="table-secondary">{{ order_totals.total_volume }}</td>
                                <td class="table-secondary">{{ order_totals.total_weight }}</td>
                                <td class="table-secondary">{{ order_totals.summ }}</td>
                                <td class="table-secondary"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                <div class="atf-section-title  text-left">
                    <div class="contact mt-4">
                        <div class="atf-contact-form form">                            
                            <div class="row">
                                <div class="form-group col-lg-4">
                                    <button @click="getExcelFile" class="atf-themes-btn  atf-themes-btn-one">
                                        <i class="btn-curve"></i>
                                        <span class="btn-title">Сохранить</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row justify-content-center">
                <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up">
                    <div class="atf-section-title  text-center ">
                        <h2 class="title-color">Ошибка формирования истории заказов</h2>
                        <p class="f-15 mt-3">{{ error }}</p>                        
                    </div>
                </div><!--- END COL -->
            </div>
            {% endif %}
        </div><!--- END ROW -->		
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->


{% endblock %}

{% block local_scripts %}
<script type="module" setup>
    const { createApp } = Vue
    const orderFilter = {
        data () {
            return {
                dateFrom: "",
                dateTo: "",
                ordersList: '{{ orders_list|safe }}',
                statusByOrder: {},
                statusErrorByOrder: {},
                loadingStatusByOrder: {},
            }
        },
        delimiters: ["${", "}$"],
        mounted () {
            this.dateFrom = '{{ date_from }}';
            this.dateTo = '{{ date_to }}';
        },
        computed: {
            orderListFilterData () {
                let data = {}
                if (this.dateFrom) {
                    data.date_from = this.dateFrom
                }
                if (this.dateTo) {
                    data.date_to = this.dateTo
                }
                return data
            },
        },
        methods: {
            getQueryString (data) {
                return new URLSearchParams(data).toString()
            },
            getOrdersList () {
                window.location.assign(window.location.origin + `/lk/?${this.getQueryString(this.orderListFilterData)}`)
            },
            getExcelFile () {
                window.location.assign(window.location.origin + `/lk/download/?${this.getQueryString(this.orderListFilterData)}`)
            },
            async getOrderStatusHistory (id) {
                if (this.statusByOrder[id] || this.statusErrorByOrder[id]) {
                    delete this.statusByOrder[id]
                    delete this.statusErrorByOrder[id]
                    return
                }

                const url = `${window.location.origin}/api/v1/order/check-status/?num=${id}`
                this.loadingStatusByOrder[id] = true
                delete this.statusErrorByOrder[id]

                try {
                    const response = await axios.get(url)
                    const orderInfo = response?.data?.data?.[0]
                    this.statusByOrder[id] = orderInfo?.status || "Статус не найден"
                } catch (error) {
                    console.log(error)
                    this.statusErrorByOrder[id] = "Сервис временно недоступен, попробуйте сделать запрос позднее."
                } finally {
                    delete this.loadingStatusByOrder[id]
                }
            },
            getOrderMark (id) {
                window.location.assign(window.location.origin + `/lk/full-marking/?${this.getQueryString({number: id})}`)
            }
        }
    }
    const app = createApp(orderFilter)
    app.mount('#orderFilter')
</script>    
{% endblock %}