{% extends "index_app/base.html" %}

{% load static %}

{% block body %}

<!-- start-page-heading -->
<div class="atf-page-heading atf-size-md atf-dynamic-bg" style="background-image: url({% static 'index_app/assets/img/klaringl/cooperation_1.jpg' %}); background-size:cover; background-position: center top;">
	<div class="container">
		<div class="atf-page-heading-in text-center">
			<h1 class="atf-page-heading-title">Сотрудничество</h1>
			<div class="atf-post-label">
				<span><a href="{% url 'index:index' %}">Домой</a></span>
				<span>Сотрудничество</span>
			</div>
		</div>
	</div>
</div>
<!-- .atf-page-heading -->


<section id="about" class="atf-section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12" data-aos="fade-up">
				<div class="atf-section-title text-left pe-lg-5">
					<h5 class="sub-title">Сотрудничество</h5>
					
					<p class="f-15 mt-3">
                        Логистическая компания KLARIN GL – динамично развивающаяся транспортно-экспедиционная компания, осуществляющая весь спектр логистических услуг с неизменно высоким уровнем сервиса, выгодными тарифами, оптимальными сроками доставки.
                    </p>
                    <p class="f-15 mt-3">
                        Мы предлагаем  открыть представительство KLARIN GL в Вашем регионе, что позволит Вам построить в кратчайшие сроки прибыльный бизнес на основе проработанных решений по стандартам обслуживания клиентов, оптимальных схем доставки и отлаженных бизнес-процессов. 
                    </p>
                    <p class="f-15 mt-3">
                        Взаимоотношения строятся на основании Партнерского договора, по которому Ваша компания берет на себя обязательства по приему и обработке груза в своем регионе, осуществлению доставки по региону, а также оказанию полного спектра сопутствующих логистических услуг.
                    </p>
                    
                    <p class="f-15 mt-3">
                        <h5 class="title-color">Что получает Партнер:</h5>
                            <ul>
                                <li>- Работа с уже существующей клиентской базой.</li>
                                <li>- Возможность использования готовых технологий и стандартов ведения бизнеса.</li>
                                <li>- Право использовать брэнд KLARIN GL на закрепленной территории, а также возможность использования всей сети представительств KLARIN GL для расширения клиентской базы.</li>
                                <li>- Работа в единой информационной системе.</li>
                                <li>- Размещение информации о Партнере на корпоративном сайте компании.</li>
                                <li>- Готовые рекламные материалы с реквизитами Партнера (визитки, листовки, баннеры, указатели и т.п.).</li>
                                <li>- Использование единого «Call-Центра».</li>
                            </ul>
                    </p>

                    <p class="f-15 mt-3">
                        Партнер получает доход по утвержденным тарифам KLARIN GL за: обработку (выгрузку на склад) груза, автоэкспедирование (доставка клиенту) по городу и региону, погрузо-разгрузочные работы на адресе у клиента (при необходимости), хранение груза на Вашем складе и другие сопутствующие услуги.
                    </p>
                    <p class="f-15 mt-3">
                        Кроме того, при достижении минимального объема поставок 50 куб. м в месяц Партнер получает ежемесячный бонус из расчета 100 руб. /куб. м. Данный бонус выплачивается только при соблюдении сроков доставки и выполнении требований к качеству и стандартам обслуживания клиентов. Необходимыми условиями для выплаты бонуса являются:
                    </p>

                    <p class="f-15 mt-3">
                        <ul>
                            <li>- размещение вывески/баннера на фасаде склада Партнера;</li>
                            <li>- работа в ИС KLARIN GL.</li>
                        </ul>
                    </p>

                    <p class="f-15 mt-3">
                        <h5 class="title-color">Требования к Партнерам</h5>
                            <ul>
                                <li>- Наличие собственного или арендованного складского помещения.</li>
                                <li>- Желание развиваться на рынке логистических услуг.</li>
                                <li>- Наличие необходимых инвестиционных и оборотных средств.</li>
                                <li>- Обязательства работать согласно требованиям и стандартам компании  KLARIN GL.</li>
                                <li>- Ориентация на долгосрочные партнерские отношения.</li>
                                <li>- Прозрачность финансовых операций «Партнер-Партнер».</li>
                                <li>- Развитие и продвижение бренда KLARIN GL в своем регионе.</li>
                            </ul>
                    </p>

                    <p class="f-15 mt-3">
                        <h5 class="title-color">Требования к складскому/офисному помещению:</h5>
                            <ul>
                                <li>- площадь не менее 60 кв.м.</li>
                                <li>- пешая доступность офиса</li>
                                <li>- наличие удобных подъездных путей и желательно пандуса</li>
                                <li>- ровный пол, не мешающий нормальному перемещению погрузочной техники</li>
                                <li>- возможность аренды погрузочно-разгрузочной техники (для негабаритных грузов)</li>
                                <li>- возможность размещения информационных баннеров (растяжек) на здании,  при  въезде на  территорию свободный въезд, или простая пропускная система при въезде на территорию для клиентов.</li>
                            </ul>
                    </p>
                    <p class="f-15 mt-3">
                        Группа компаний KLARIN GL открыта для предложений и прозрачна в плане партнерских отношений. Если Вам интересен бизнес в логистике, есть желание и возможности им заниматься, с удовольствием приглашаем Вас влиться в команду единомышленников.
                    </p>
                    <p class="f-15 mt-3">
                        Для связи с нами просьба заполнить форму обратной связи с Вашими вопросами и предложениями. Мы обязательно с Вами свяжемся для дальнейшего диалога.
                    </p>					
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->

<!-- START BLOG DETAILS AREA -->
<div class="atf-section-padding atf-blog-area">	
	<div class="container">
        <div class="row">

        </div>
		<div class="row">
			{% include "index_app/includes/message.html" %}
			<!--- END WIDGET -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</div><!--- END Section -->
<!-- END BLOG DETAILS AREA -->
</section>
<!-- END ABOUT -->





{% endblock %}