{% extends "index_app/base.html" %}

{% load static %}

{% block body %}

<!-- start-page-heading -->
<div class="atf-page-heading atf-size-md atf-dynamic-bg" style="background-image: url({% static 'index_app/assets/img/slider/6.jpg' %}); background-size:cover; background-position: center top;">
	<div class="container">
		<div class="atf-page-heading-in text-center">
			<h1 class="atf-page-heading-title">О нас</h1>
			<div class="atf-post-label">
				<span><a href="{% url 'index:index' %}">Домой</a></span>
				<span>О нас</span>
			</div>
		</div>
	</div>
</div>
<!-- .atf-page-heading -->

<!-- START ABOUT -->
<section id="about" class="atf-section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-6" data-aos="fade-up">
				<div class="atf-section-title text-left pe-lg-5">
					<h5 class="sub-title">О компании</h5>
					<h2 class="title-color">Группа компаний <span>KLARIN GL</span> оказывает услуги в сфере логистики с 2006 года.  За время работы нами накоплен большой опыт, позволяющий решать разнообразные и сложные задачи в области логистики.</h2>
					<p class="f-15 mt-3">Основными конкурентными преимуществами компании являются широкий спектр предоставляемых услуг, индивидуальный подход к каждому клиенту, честность и прозрачность в работе, мобильность, надежность. Стратегия компании <span>KLARIN GL</span> - комплексный подход к решению логистических задач, позволяющий повысить эффективность и снизить издержки в цепях поставок. Наша главная задача -  установление долгосрочного и взаимовыгодного сотрудничества с каждым клиентом, повышение конкурентоспособности бизнеса клиента.</p>
					<p class="f-15 mt-3">На сегодняшний день группа компаний KLARIN GL - это активная динамично развивающаяся транспортно-экспедиционная компания, имеющая в своем штате опытных и ответственных специалистов, понимающих потребности и нужды клиентов и готовых предложить наилучшее решение для Вашей компании в области логистики. Доверив перевозку Вашего груза нашей компании, Вы можете быть абсолютно уверены в соблюдении заявленных сроков доставки и сохранности Вашего товара.</p>
					<p class="f-15 mt-3">Наша задача - сделать для Вас процесс доставки Ваших грузов простым, удобным и экономичным. Выбрав компанию KLARIN GL, Вы получаете полный спектр сопутствующих услуг по перевозке грузов, выгодные тарифы, оптимальные сроки доставки и бережное отношение к каждому Клиенту.</p>
					<p class="f-15 mt-3">На сегодняшний день группа компаний KLARIN GL - это активная динамично развивающаяся транспортно-экспедиционная компания, имеющая в своем штате опытных и ответственных специалистов, понимающих потребности и нужды клиентов и готовых предложить наилучшее решение для Вашей компании в области логистики. Доверив перевозку Вашего груза нашей компании, Вы можете быть абсолютно уверены в соблюдении заявленных сроков доставки и сохранности Вашего товара.</p>
					<p class="f-15 mt-3">С уважением,<br>Группа компаний KLARIN GL.</p>					
				</div>
			</div><!--- END COL -->
			
			<div class="col-lg-6 col-12">
				<div class="row atf-md-about align-items-center">
					<div class="col-12" data-aos="fade-up">
						<div class="atf-singl-video">
							<div class="atf-about-img text-lg-center text-center mb-3">
								<img class="img-fluid" src="{% static 'index_app/assets/img/klaringl/about/about-3.jpg' %}" alt="about">
							</div>
						</div>
					</div>
					
					<div class="col-6" data-aos="fade-up">
						<img class="img-fluid" src="{% static 'index_app/assets/img/klaringl/about/about-2.jpg' %}" alt="About">
					</div>
					<div class="col-6" data-aos="fade-up">
						<img class="img-fluid" src="{% static 'index_app/assets/img/klaringl/about/about-1.jpg' %}" alt="about">
					</div>
					
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->


{% include "index_app/includes/support.html" %}

{% endblock %}