{% load static %}


<!-- START COMPANY BRAND LOGO  -->
<div id="atf-partner" class="atf-brand-area bg-light atf-section-padding">
    <div class="atf-brand-overlay">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="atf-brand-active owl-carousel">
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/1.jpg' %}" alt="image"></a>
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/2.jpg' %}" alt="image"></a>
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/3.jpg' %}" alt="image"></a>
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/4.jpg' %}" alt="image"></a>
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/5.jpg' %}" alt="image"></a>
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/1.jpg' %}" alt="image"></a>
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/2.jpg' %}" alt="image"></a>
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/3.jpg' %}" alt="image"></a>
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/4.jpg' %}" alt="image"></a>
                        <a href="#"><img src="{% static 'index_app/assets/img/partner/5.jpg' %}" alt="image"></a>
                    </div>
                </div><!-- END COL  -->
            </div><!--END  ROW  -->
        </div><!-- END CONTAINER  -->
    </div><!-- END OVERLAY -->
</div>
<!-- END COMPANY BRAND LOGO -->