<!-- FEATURE SECTION START-->
<section id="feature" class="atf-feature-area bg-light atf-section-padding">
    <div class="container">
        <div class="row align-items-center">	
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
                <div class="atf-single-feature box-shadow-active text-center">
                    <div class="atf-feature-icon"><i class="fi fi-rr-truck-side"></i></div>
                    <div class="atf-feature-text mb-4">
                        <h5 class="mt-4">Road Freight</h5>
                        <p class="mt-3">Lorem ipsum dolor sit amet elit consectetur adipiscing sed eiusmod tempor.</p>
                    </div>
                    <a href="#" class="read-more">read more</a>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
                <div class="atf-single-feature text-center">
                    <div class="atf-feature-icon"><i class="fi fi-rr-plane"></i></div>
                    <div class="atf-feature-text mb-4">
                        <h5 class="mt-4">Air Freight Service</h5>
                        <p class="mt-3">Lorem ipsum dolor sit amet elit consectetur adipiscing sed eiusmod tempor.</p>
                    </div>
                    <a href="#" class="read-more">read more</a>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
                <div class="atf-single-feature text-center">
                    <div class="atf-feature-icon f-20"><i class="fi fi-rr-ship"></i></div>
                    <div class="atf-feature-text mb-4">
                        <h5 class="mt-4">Sea Freight in City</h5>
                        <p class="mt-3">Lorem ipsum dolor sit amet elit consectetur adipiscing sed eiusmod tempor.</p>
                    </div>
                    <a href="#" class="read-more">read more</a>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
                <div class="atf-single-feature text-center">
                    <div class="atf-feature-icon"><i class="fi fi-rr-school-bus"></i></div>
                    <div class="atf-feature-text mb-4">
                        <h5 class="mt-4">Warehouse Service</h5>
                        <p class="mt-3">Lorem ipsum dolor sit amet elit consectetur adipiscing sed eiusmod tempor.</p>
                    </div>
                    <a href="#" class="read-more">read more</a>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- FEATURE SECTION END-->