<!-- START CONTACT -->
<section id="contact" class="atf-section-padding">
    <div class="container">
        <div class="row">

            {% include "index_app/includes/message.html" %}            
            <div class="col-lg-6">
                <div class="atf-contact-info ps-lg-5" data-aos="fade-up">
                    <div class="atf-section-title title-color">
                        <h3>Contact <span>Info</span></h3>
                        <p class="f-15 mt-3 ">Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary.</p>
                    </div>
                
                    <div class="atf-contact-details mt-4">
                        <div class="atf-contact-icon">
                            <i class="fa fa-home"></i>
                        </div>
                        <div class="atf-contact-address">
                            <h5>Адрес</h5>
                            <p>{{ const.address }}</p>
                        </div>
                    </div>
                
                    <div class="atf-contact-details mt-4">
                        <div class="atf-contact-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="atf-contact-address">
                            <h5>Телефон</h5>
                            <p>{{ const.tel }}</p>
                        </div>
                    </div>
            
                    <div class="atf-contact-details mt-4">
                        <div class="atf-contact-icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="atf-contact-address">
                            <h5>E-mail</h5>
                            <p>{{ const.email }}</p>
                        </div>
                    </div>
                </div><!--- END CONTACT -->
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END CONTACT -->