{% load static %}


<!-- START TESTIMONIAL DESIGN -->
<section id="testimonial" class="atf-testimonial-area sub-heading-border atf-section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6" data-aos="fade-up">
                <div class="atf-section-title title-color text-center ">
                    <h5 class="sub-title sub-title-1">Client Review</h5>
                    <h2>Client are Interested for <span>Logistic</span> Service of Ocean Freight</h2>
                    <p class="f-15 mt-3">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->

        
            
        <div class="row mt-5 pt-4">
            <div class="col-lg-12 clearfix">
                <div id="atf-testimonial-slider" class="owl-carousel owl-theme atf-main-testimonials">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="{% static 'index_app/assets/img/client/img-1.jpg' %}" alt="client">
                        </div>
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam under"
                        </p>
                        <h5 class="testimonial-title">Md.Abdul Hamid</h5>
                        <span class="post">Senior Teacher</span>
                    </div>
                    
                    <div class="testimonial">
                        <div class="pic">
                            <img src="{% static 'index_app/assets/img/client/img-2.jpg' %}" alt="client">
                        </div>
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam under"
                        </p>
                        <h5 class="testimonial-title">Md.Abdul Jabber</h5>
                        <span class="post">Senior Teacher</span>
                    </div>
                    
                    <div class="testimonial">
                        <div class="pic">
                            <img src="{% static 'index_app/assets/img/client/img-3.jpg' %}" alt="client">
                        </div>
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam under"
                        </p>
                        <h5 class="testimonial-title">Md.Abdul Hamid</h5>
                        <span class="post">Senior Teacher</span>
                    </div>
                    
                    <div class="testimonial">
                        <div class="pic">
                            <img src="{% static 'index_app/assets/img/client/img-2.jpg' %}" alt="client">
                        </div>
                        <p class="description">
                            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi eligendi facilis itaque minus non odio, quaerat ullam under"
                        </p>
                        <h5 class="testimonial-title">Md.Abdul Hakim</h5>
                        <span class="post">Senior Teacher</span>
                    </div>
                </div><!--- END SLIDER -->
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END TESTIMONIAL DESIGN -->