{% load static %}


<!-- START COUNTER SECTION  -->
<section id="counter" class="atf-counter-area bg-overlay atf-section-padding" style="background-image: url({% static 'index_app/assets/img/slider/1.jpg' %});  background-size:cover; background-attachment:fixed;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
                <div class="counter">
                    <div class="counter-icon">
                        <i class="fi fi-rr-truck-side"></i>
                    </div>
                    <div class="counter-content">
                        <h3>Product Delivery</h3>
                        <span class="counter-value">8567</span>
                    </div>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
                <div class="counter">
                    <div class="counter-icon">
                        <i class="fi fi-rr-ship-side"></i>
                    </div>
                    <div class="counter-content">
                        <h3>Shipping Delivery</h3>
                        <span class="counter-value">6587</span>
                    </div>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
                <div class="counter">
                    <div class="counter-icon">
                        <i class="fi fi-rr-trophy"></i>
                    </div>
                    <div class="counter-content">
                        <h3>Award Winner</h3>
                        <span class="counter-value">2567</span>
                    </div>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up">
                <div class="counter">
                    <div class="counter-icon">
                        <i class="fi fi-rr-world"></i>
                    </div>
                    <div class="counter-content">
                        <h3>World Branch</h3>
                        <span class="counter-value">5478</span>
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END COUNTER SECTION  -->
