{% load static %}


<!-- Skill START -->
<section id="skill" class="atf-skill-area bg-light bg-image-left atf-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="skill-info-wrap">
                
                </div>
            </div>
            
            <div class="col-lg-6 align-self-center ps-lg-5" data-aos="fade-up">
                <div class="skill-info-wrap">
                    <div class="atf-section-title text-left">
                        <h5 class="sub-title">Our Skill</h5>
                        <h2 class="title-color">You can achive and Progress information <span>Skill</span> Development.</h2>
                        <div class="progress-info-wrap mt-4">
                            <h5 class="progress-title">Road Freight</h5>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" style="width:85%; background:#cc504c;"></div>
                                <span class="progress-value">[85%]</span>
                            </div>
                 
                            <h5 class="progress-title">Ocean Freight</h5>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" style="width:60%; background:#cc504c;"></div>
                                <span class="progress-value">[60%]</span>
                            </div>
                            <h5 class="progress-title">Air Freight</h5>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" style="width:75%; background:#cc504c;"></div>
                                <span class="progress-value">[75%]</span>
                            </div>
                        </div>
                        
                        <div class="atf-main-btn atf-about-btn mt-4"> 
                            <a class="atf-themes-btn  atf-themes-btn-one" href="#">
                                <i class="btn-curve"></i>
                                <span class="btn-title">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Skill END -->