{% extends "index_app/base.html" %}
{% load static %}

{% block body %}

<!-- start-page-heading -->
<div class="atf-page-heading atf-size-md atf-dynamic-bg" style="background-image: url({% static 'index_app/assets/img/slider/6.jpg' %}); background-size:cover; background-position: center top;">
	<div class="container">
		<div class="atf-page-heading-in text-center">
			<h1 class="atf-page-heading-title">Дополнительные услуги</h1>
			<div class="atf-post-label">
				<span><a href="{% url 'index:index' %}">Домой</a></span>
				<span>Дополнительные услуги</span>
			</div>
		</div>
	</div>
</div>
<!-- .atf-page-heading -->

<!-- START ABOUT -->
<section id="about" class="atf-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12" data-aos="fade-up">
                <div class="atf-section-title text-left pt-lg-4">
                    <h5 class="sub-title">Возврат документов</h5>
					<h2 class="title-color">Для клиентов компании <span>KLARIN GL</span> также услуга «Возврат документов».</h2>
                    <p>Она осуществляется при условии оформления заказа «Доставка до двери получателя» и при наличии документов в двух экземплярах. При этом грузополучатель передает подписанные документы для возврата вместе с подписанной накладной на выдачу груза. Оригиналы документов, подлежащие возврату, предоставляются в течение 30 дней с даты подписания.</p>
					<p>Для заказа услуги «Возврат документов» необходимо в заявке на забор груза указать «ВД» как дополнительную услугу. При сдаче груза на наш терминал, Ваш водитель передает документы с указанием «Возврат».</p>
					<p>В обоих случаях при передаче документов составляется опись переданных с грузом документов, с указанием их наименования и количества. Опись составляется в двух экземплярах, один экземпляр остается у Отправителя, второй отправляется вместе с грузом. В описи Ваш представитель обязан поставить подпись с расшифровкой и печать.</p>
					<p>При доставке груза Получателю, он обязан подписать документы согласно описи и вернуть подписанный экземпляр нашему водителю до окончания выгрузки. В случае отказа Получателя от подписания документов по любым, не связанным с перевозкой причинам, Ваш персональный менеджер немедленно проинформирует о возникшей ситуации, для согласования дальнейших действий.</p>
					<p>Стоимость услуги - 350 рублей, из Калининграда - 500 рублей.<p>
					<p>Наши сотрудники расскажут об особенностях оказываемых услуг и ответят на все интересующие Вас вопросы. Ждем Ваших звонков.</p>
                </div>
            </div><!--- END COL -->    
			<div class="col-lg-4 col-12 aos-init aos-animate pt-lg-5" data-aos="fade-up">
				<div class="w-100 text-center">
				   <img src="{% static 'index_app/assets/img/klaringl/documents_return.jpg' %}" alt="">
				</div>
			</div>      
        </div><!--- END ROW -->
		
		<div class="row">
            <div class="col-lg-8 col-12" data-aos="fade-up">
                <div class="atf-section-title text-left pt-lg-4">
                    <h5 class="sub-title">Страхование грузов</h5>
					<h2 class="title-color">Компания <span>KLARIN GL</span> предлагает своим клиентам воспользоваться услугой «Страхование грузов» совместно с АО Страховая компания «ПАРИ».</h2>
                    <p>Страхование грузов – услуга предоставляемая компанией KLARIN GL при доставке грузов любого типа. Мы стремимся обеспечить высокое качество сервиса для клиентов, в том числе снизить возможные материальные риски. В соответствии с оказываемой услугой, выплачивается компенсация в установленном размере при наступлении страховых случаев, таких как:</p>
					<ul class="f-15 mt-3">
						<li>- пожар, взрыв; утрата, гибель и/или повреждение груза;</li>
						<li>- ДТП при транспортировке;</li>
						<li>- кража, грабеж, вандализм, разбойное нападение;</li>
						<li>- повреждения груза и/или транспорта.</li>						
					</ul>
					<p>ООО KLARIN GL совместно со страховым партнером АО СК «ПАРИ» обеспечивают максимально ответственный подход к транспортировке Ваших грузов, и гарантируют полноценное возмещение ущерба в случае форс-мажорных обстоятельств.</p>
					<p>На данный момент мы можем предложить страховой тариф в размере 0,12% от заявленной стоимости товара. К примеру, Вы заплатите всего 120 рублей, если застрахуете груз оцененный в 100 000 рублей. А если транспортируется товар, который стоит полмиллиона рублей, Вам придется заплатить за страховку всего 600 рублей. Для оформления страховки, Вам необходимо указать в заявке на перевозку «Страхование» в качестве дополнительной услуги. Уплата страховой премии производиться в разовом порядке при полной оплате услуг компании.</p>
					<p>Договор страхования грузов гарантируем выплаты по страховому случаю. Выплаты осуществляются не позднее 30 дней после предоставления документов, подтверждающих его наступление. На конечную сумму выплаты не влияет вид транспортного средства и выбранное направление. Страхование груза при перевозке позволит Вам гарантированно в кратчайшие сроки получить возмещение понесенного ущерба.</p>
                </div>
            </div><!--- END COL -->    
			<div class="col-lg-4 col-12 aos-init aos-animate pt-lg-5" data-aos="fade-up">
				<div class="w-100 text-center">
				   <img src="{% static 'index_app/assets/img/klaringl/isurance.jpg' %}" alt="">
				</div>
			</div>          
        </div><!--- END ROW -->

		<div class="row">
            <div class="col-lg-8 col-12" data-aos="fade-up">
                <div class="atf-section-title text-left pt-lg-4">
                    <h5 class="sub-title">Погрузочно-разгрузочные работы</h5>
					<h2 class="title-color">Клиенты компании <span>KLARIN GL</span> могут воспользоваться услугой «Погрузочно-разгрузочные работы» при заборе ОТ и доставке грузов ДО двери клиента.</h2>
                    <p>Услуга погрузочно-разгрузочных работ оказывается для стандартных грузов, общей массой до 300 кг. При этом максимальный габарит одной из сторон (высоты, длины, ширины) не должен превышать 2 м, а вес одного грузового места - не более 30 кг. Стоимость погрузочно-разгрузочных работ – 3 руб./кг. Оказание услуги для нестандартных грузов, погрузка и разгрузка грузов с привлечением спецтехники потребует индивидуального согласования.</p>
					<p>Наша компания выполняет погрузочно-разгрузочные работы с соблюдением всех необходимых правил техники безопасности, без риска порчи имущества, а также с использованием механизированных средств для подъемных и перевалочных работ.</p>
					<p>Если предстоит большой объём работ или габариты Вашего груза отличаются от стандартных, а также подразумевается использование выездной бригады грузчиков, то рекомендуем заранее согласовать все детали оказания услуг с нами. Клиенты компании могут заказать погрузку и разгрузку грузов при заборе ОТ и доставке грузов ДО двери клиента.</p>
					<p>Сотрудники компании KLARIN GL индивидуально подойдут к Вашему заказу и подберут для Вас оптимальное решение по оказанию услуги и цене.</p>					
                </div>
            </div><!--- END COL -->   
			<div class="col-lg-4 col-12 aos-init aos-animate pt-lg-5" data-aos="fade-up">
				<div class="w-100 text-center">
				   <img src="{% static 'index_app/assets/img/klaringl/ecommerce_delivery.jpg' %}" alt="">
				</div>
			</div>           
        </div><!--- END ROW -->

		<div class="row">
            <div class="col-lg-8 col-12" data-aos="fade-up">
                <div class="atf-section-title text-left pt-lg-4">
                    <h5 class="sub-title">Дополнительная упаковка</h5>
					<h2 class="title-color">Для обеспечения сохранности груза при перевозке, компания <span>KLARIN GL</span> предлагает услугу «Дополнительная упаковка груза»: обрешетка груза, жесткая, обмотка стрейч-пленкой в 3 слоя, картонная упаковка и т.д.</h2>                    
					<p>Обеспечение целостности груза при транспортировке в большой степени зависит от упаковки. Выполненная нашими специалистами упаковка грузов для транспортировки – это залог сохранности и целостности от момента отправки до момента получения.</p>
					<p>Специалисты нашей компании, которые имеют дело с грузоперевозками каждый день, знают детально все проблемы, и, видя груз, могут подобрать оптимальный вариант упаковки</p>
					<p>1. Паллетный борт</p>
					<p>Полностью закрытый короб, максимально обеспечивает сохранность груза. Лучше всего подходит для перевозки оргтехники, электротоваров, медицинских товаров, оборудования и техники.</p>
					<p>2. Жесткая упаковка</p>
					<p>Если габариты груза не позволяют использовать паллетный борт, то рекомендуем обратиться к жесткой упаковке. Деревянный каркас упаковки надежно защищает груз во время перевозки. Он идеально подходит для перевозки керамических изделий, автозапчастей, металлоконструкций, хрупких, крупногабаритных и нестандартных грузов</p>
					<p>В обязательном порядке в жесткую упаковку пакуются:</p>
					<ul class="f-15 mt-3">
						<li>- Жидкости в любых упаковках;</li>
						<li>- Хрупкая электроника - плазменные панели, портативные устройства, мобильные телефоны, планшеты, ноутбуки и т.п.;</li>
						<li>- Стеклянные изделия или товары, имеющие элементы из стекла, фарфора, фаянса, керамики;</li>
						<li>- Столешницы, фасады, двери и прочая корпусная мебель;</li>
						<li>- Электрические приборы, оргтехника;</li>
						<li>- Пластиковые окна.</li>
					</ul>
					<p>3. Картонная упаковка</p>
					<p>Если у вас небольшой груз до 35 кг, то данный вид упаковки отлично подойдет именно Вам. Наиболее часто ее используют при транспортировке детских или медицинских товаров, посуды, канцелярии, одежды и личных вещей. Применяется для группировки грузов по местам, защиты от утери или деформации, препятствует рассыпанию штучных товаров.</p>
					<p>4. Паллетирование</p>
					<p>Паллетирование грузов осуществляется при необходимости максимально компактно доставить товар клиенту. Чаще всего данная процедура упаковки груза используется тогда, когда заказ состоит из большого количества маленьких коробок с хрупким или тяжелым товаром. Это позволяет избежать повреждения упаковки и надежно сохранить мелкие части груза. Отлично подходит для доставки в сетевые магазины и торговые сети. Если груз был упакован правильно – паллеты гарантируют его компактную перевозку, а также целостность и сохранность до момента получения адресатом.</p>
					<p>5. Воздушно-пузырчатая пленка</p>
					<p>Дополнительная амортизационная защита груза при транспортировки. лучше всего подходит для бытовой техники, электротехники, музыкальных инструментов.</p>
					<p>6. Сейф-пакет</p>
					<p>Сейф-пакеты используются для упаковки документов, бумаг, рукописей и т. д. Они имеют несколько степеней защиты от несанкционированного доступа и гарантируют полную сохранность содержимого.</p>
					<p>В зависимости от вида транспортируемого груза, мы выбираем наиболее подходящую упаковку и согласуем этот способ с заказчиками. Стоимость изготовления обрешетки, паллетного борта – 850 рублей за м3. Минимальная стоимость услуги – 450 рублей за м3. В случае паллетрирования с обмоткой стрейч-пленкой в 3 слоя, стоимость услуги составит 300 рублей за одно паллетоместо.</p>
					<p>Выбор оптимального типа упаковки является залогом успешной транспортировки Вашего товара.</p>
                </div>
            </div><!--- END COL -->    
			<div class="col-lg-4 col-12 aos-init aos-animate pt-lg-5" data-aos="fade-up">
				<div class="w-100 text-center">
				   <img src="{% static 'index_app/assets/img/klaringl/extra_pack.jpg' %}" alt="">
				</div>
			</div>          
        </div><!--- END ROW -->
		
		<div class="row">
            <div class="col-lg-8 col-12" data-aos="fade-up">
                <div class="atf-section-title text-left pt-lg-4">
                    <h5 class="sub-title">Хранение груза</h5>
					<h2 class="title-color">Для клиентов компании <span>KLARIN GL</span> также доступна услуга «Хранение груза».</h2>
                    <p>Ответственное хранение груза является востребованной услугой среди компаний, у которых нет постоянной потребности в содержании собственного склада, но периодически они нуждаются в хранении товаров. Основным преимуществом хранения грузов является экономия денежных средств. В отличие от классической аренды, вы оплачиваете только хранение груза по факту. При этом мы берем на себя всю полноту ответственности за сохранность груза, защищая Вас от возможных убытков.</p>
					<p>Бесплатное хранение грузов составляет 3-е суток во всех филиалах компании. Для каждого клиента мы готовы разработать индивидуальную схему работы, отвечающую Вашим потребностям. При хранении груза сверх данного срока стоимость услуги составляет 200 руб./м3 в день. Чтобы уточнить стоимость хранения грузов, необходимо оговорить все детали с нашим специалистом, определиться со сроком хранения и способом вывоза товара. При необходимости длительного хранения рекомендуем воспользоваться комплексной услугой 3PL см.</p>
					<p>Компания KLARIN GL предлагает комплексные решения для бизнеса включающие в себя:</p>
					<ul class="f-15 mt-3">
						<li>- хранение товара с любым типом упаковки (ячеечное, палетное, номенклатурное);</li>
						<li>- сортировку товара и подбор заказа в сроки, заявленные клиентом;</li>
						<li>- подготовку необходимой товарно-сопроводительной документации;</li>
						<li>- забор грузов со склада Отправителя, доставку до Получателя, межрегиональную перевозку;</li>
						<li>- упаковку, фасовку и маркировку товара в соответствие с заказом клиента;</li>
						<li>- страхование товара, переданного на хранение;</li>
						<li>- предоставление отчетов в форме, удобной для клиента, в том числе обеспечение интеграции с информационной системой клиента.</li>
					</ul>
					<p>Можете быть уверены, что хранение груза на складе в нашей компании - залог сохранности и целостности на любое необходимое время. В нашем арсенале имеется вся необходимая разгрузочно-погрузочная техника и просторные складские помещения. Будем рады видеть Вас в числе наших клиентов!</p>
                </div>
            </div><!--- END COL -->  
			<div class="col-lg-4 col-12 aos-init aos-animate pt-lg-5" data-aos="fade-up">
				<div class="w-100 text-center">
				   <img src="{% static 'index_app/assets/img/klaringl/cargo_storage.jpg' %}" alt="">
				</div>
			</div>            
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->

{% endblock %}