{% extends "index_app/base.html" %}
{% load static %}

{% block body %}

<!-- start-page-heading -->
<div class="atf-page-heading atf-size-md atf-dynamic-bg" style="background-image: url({% static 'index_app/assets/img/slider/7.jpg' %}); background-size:cover; background-position: center top;">
	<div class="container">
		<div class="atf-page-heading-in text-center">
			<h1 class="atf-page-heading-title">Комплексные решения</h1>
			<div class="atf-post-label">
				<span><a href="{% url 'index:index' %}">Домой</a></span>
				<span>Комплексные решения для бизнеса</span>
			</div>
		</div>
	</div>
</div>
<!-- .atf-page-heading -->

<!-- START ABOUT -->
<section id="about" class="atf-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up">
                <div class="atf-section-title text-left pe-lg-5">
                    <h5 class="sub-title">Комплексные решения</h5>
                    <h2 class="title-color">Группа компаний <span>KLARIN GL</span> расширяет спектр предоставляемых услуг</h2>
					<p>Мы предлагаем своим клиентам комплексную логистическую услугу (3 PL), включающую в себя: ответственное хранение Ваших грузов, транспортировку товара, складирование, сквозное складирование, техническое управление складскими запасами, упаковку и экспедирование грузов.</p>
					<p>Мы готовы осуществить:</p>					
					<ul class="f-15 mt-3">
						<li>- хранение товара с любым типом упаковки (паллетное, номенклатурное, ячеечное)</li>
						<li>- сортировку товара и подбор заказа в сроки, заявленные клиентом</li>
						<li>- упаковку, фасовку и маркировку товара в соответствие с заказом клиента</li>
						<li>- обеспечить страхование товара, переданного на хранение</li>
						<li>- подготовить необходимую товарно-сопроводительную документацию</li>
						<li>- осуществить возврат документов за подписью получателя</li>
						<li>- предоставлять отчеты в форме, удобной для клиента, в том числе обеспечить интеграцию с информационной системой клиента</li>
					</ul>
					<p>Базовые тарифы на услуги 3PL см. Прайс-лист. Однако для каждого клиента мы готовы разработать индивидуальную схему работы, отвечающую Вашим потребностям. Подробную информацию об услуге и тарифах Вы можете узнать у своего персонального менеджера, позвонив по телефону: 8-800-700-41-62 или обратившись <a href="{% url 'index:about' %}">через форму обратной связи.</a></p>					
                </div>
            </div><!--- END COL -->            
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->

{% endblock %}