{% extends "index_app/base.html" %}
{% load static %}

{% block body %}

<!-- start-page-heading -->
<div class="atf-page-heading atf-size-md atf-dynamic-bg" style="background-image: url({% static 'index_app/assets/img/slider/6.jpg' %}); background-size:cover; background-position: center top;">
	<div class="container">
		<div class="atf-page-heading-in text-center">
			<h1 class="atf-page-heading-title">Доставка сборного груза</h1>
			<div class="atf-post-label">
				<span><a href="{% url 'index:index' %}">Домой</a></span>
				<span>Доставка сборного груза</span>
			</div>
		</div>
	</div>
</div>
<!-- .atf-page-heading -->

<!-- START ABOUT -->
<section id="about" class="atf-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up">
                <div class="atf-section-title text-left pe-lg-5">
                    <h5 class="sub-title">Перевозка сборных грузов</h5>
                    <h2 class="title-color">Приоритетное направление деятельности группы компаний <span>KLARIN GL</span>. Мы предлагаем своим клиентам профессиональную организацию доставки сборных грузов по России. География деятельности компании охватывает все регионы страны.</h2>                                        
					<p>Воспользоваться услугой перевозки сборными грузами стоит, если нужно организовать транспортировку небольшой по объему партии. В таких случаях, мы консолидируем партии нескольких клиентов, и доставляем их одним транспортом. Подход позволяет существенно сокращать расходы клиентов на логистику.</p>
					<p>Каждый клиент, желающий воспользоваться услугой, получает возможность заранее планировать отгрузку, получение товара, поскольку наша компания осуществляет отгрузку строго по графику. KLARIN GL гарантирует заказчикам сохранность груза, бережную своевременную доставку по доступной цене.</p>
					<p>Помимо доставки груза мы реализуем целый комплекс дополнительных услуг. В их числе - забор груза непосредственно у отправителя, доставка до двери, упаковка, обрешетка, страхование, возврат документов, погрузо-разгрузочные работы и прочие.</p>

					<div class="atf-main-btn mt-5">
						<a class="atf-themes-btn  atf-themes-btn-one ms-2" href="{% url 'calculator:calc' %}">
							<i class="btn-curve"></i>
							<span class="btn-title">Предварительный расчет</span>
						</a>
						
						<a class="atf-themes-btn  atf-themes-btn-one ms-2" href="{% url 'index:index'  %}">
							<i class="btn-curve"></i>
							<span class="btn-title">Статус груза</span>
						</a>
						{% if user.is_authenticated %}
						<a class="atf-themes-btn  atf-themes-btn-one ms-2" href="{% url 'index:lk' %}">
							<i class="btn-curve"></i>
							<span class="btn-title">Личный кабинет</span>
						</a>
						{% endif %}
					</div>
                </div>
            </div><!--- END COL -->            
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->

{% endblock %}