{% extends "index_app/base.html" %}
{% load static %}

{% block body %}

<!-- start-page-heading -->
<div class="atf-page-heading atf-size-md atf-dynamic-bg" style="background-image: url({% static 'index_app/assets/img/slider/6.jpg' %}); background-size:cover; background-position: center top;">
	<div class="container">
		<div class="atf-page-heading-in text-center">
			<h1 class="atf-page-heading-title">Доставка для e-commerce</h1>
			<div class="atf-post-label">
				<span><a href="{% url 'index:index' %}">Домой</a></span>
				<span>Доставка заказов для интернет-магазинов</span>
			</div>
		</div>
	</div>
</div>
<!-- .atf-page-heading -->

<!-- START ABOUT -->
<section id="about" class="atf-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="fade-up">
                <div class="atf-section-title text-left pe-lg-5">
                    <h5 class="sub-title">Доставка заказов для интернет-магазинов</h5>
                    <h2 class="title-color"><span>KLARIN GL</span> обеспечивает быструю доставку для интернет-магазинов, а также предлагает услуги курьера в Москве, Санкт-Петербурге и других городах России.</h2>
					<p>Доставка заказов интернет-магазинов осуществляется как от терминала к терминалу KLARIN GL или указанного клиентом места назначения, так и прямо к двери получателя. Логистика для интернет-магазинов имеет и добавочные услуги, например: подготовка необходимых для перевозки документов, страхование груза, его комплектация, маркировка и упаковка, хранение на нашем складе.</p>
					<p>Наша компания заинтересована в том, чтобы помочь предпринимателям малого и среднего бизнеса наладить эффективную логистику интернет-магазинов и сэкономить денежные средства и время. Аутсорсинг для интернет-магазина — это выгодно и практично!</p>					
					<p>Для нас важна прозрачность и честность в сотрудничестве. Такие критерии способствуют развитию длительных партнерских отношений. У постоянных клиентов есть возможность обслуживаться по индивидуально составленным тарифам и схемам сотрудничества.</p>
					<p>Наша задача — доказать, что процесс грузоперевозок может быть выгодным и удобным. Каждый из наших заказчиков может воспользоваться следующими услугами бесплатно:</p>
					<ul class="f-15 mt-3">
						<li>- уведомление получателя о доставке по SMS, e-mail или телефонным звонком;</li>
						<li>- возможность доставки в любое удобное время;</li>
						<li>- хранение товаров на нашем складе до 7 дней без дополнительных оплат;</li>
						<li>- возможность воспользоваться услугой «возврат документов».</li>						
					</ul>
					<p>Мы учитываем все требования и пожелания заказчиков, предоставляя услуги интернет-логистики высокого качества, гибкую систему тарифов и скидок (с тарифами и условиями доставки по Москве, области и в регионы можно ознакомиться здесь), а также индивидуальный подход к каждому. Специалисты горячей линии помогут вам оформить заказ и ответят на все интересующие вас вопросы.</p>
					<p>Зарегистрируйтесь на сайте KLARIN GL и войдите в свой личный кабинет, чтобы увидеть всю информацию о вашем заказе, счет на оплату и отследить статус доставки товара. Мы используем электронный документооборот, поэтому вы можете быть уверены, что ни один из ваших документов или счетов не будет утерян.</p>

					<h2 class="title-color"> С удовольствием ответим на все возникшие вопросы!</h2>
					<h2 class="title-color">  Будем рады видеть Вас в числе наших партнеров!</h2>
                </div>
            </div><!--- END COL -->            
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->

{% endblock %}