{% load static %}

<!-- START ABOUT -->
<section id="about" class="atf-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <div class="atf-section-title text-left pe-lg-5">
                    <h5 class="sub-title">Наша компания</h5>
                    <h2 class="title-color"><span>KLARIN GL</span> - группа компаний, специализирующихся на перевозке грузов по России.</h2>
                    
                    <p class="f-15 mt-3">Предлагаем выгодные условия сотрудничества, как частным клиентам, так и представителям бизнеса. Клиенты с небольшими объемами товаров могут воспользоваться услугой доставки в составе сборных грузов. Это делает перевозку максимально экономичной и выгодной.</p>
                    <p class="f-15 mt-3">Организовываем грузоперевозки по России любой сложности и любых объемов, разрабатываем оптимальный маршрут, подбираем транспорт, выполняем погрузочно-разгрузочные работы, доставляем груз четко в оговоренный срок.</p>

                    <div class="atf-main-btn mt-4"> 
                        <a class="atf-themes-btn  atf-themes-btn-one" href="{% url 'index:about' %}">
                            <i class="btn-curve"></i>
                            <span class="btn-title">Подробнее</span>
                        </a>
                    </div>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-6 col-12">
                <div class="row atf-md-about align-items-center">
                    <div class="col-12" data-aos="fade-up">
                        <div class="atf-singl-video">
                            <div class="atf-about-img text-lg-center text-center mb-3">
                                <img class="img-fluid" src="{% static 'index_app/assets/img/about/about-3.jpg' %}" alt="about">
                            </div>
                            <div class="waves-box">
                                <a href="https://www.youtube.com/embed/VtXrZp0S1U8" data-rel="lightcase:myCollection" class="iq-video"> <i class="fi fi-rr-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-6" data-aos="fade-up">
                        <img class="img-fluid" src="{% static 'index_app/assets/img/about/about-2.jpg' %}" alt="About">
                    </div>
                    <div class="col-6" data-aos="fade-up">
                        <img class="img-fluid" src="{% static 'index_app/assets/img/about/about-1.jpg' %}" alt="about">
                    </div>
                    
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section>
<!-- END ABOUT -->