<!-- FAQ SECTION START-->
<section id="faq" class="atf-faq-area bg-light atf-section-padding">
    <div class="container">
        <div class="row">
            {% if questions %}
            <div class="col-lg-6">
                <div class="atf-section-title title-color atf-choose-area text-left" data-aos="fade-up">
                    <h5 class="sub-title">Вопросы</h5>
                    <h2>Часто задаваемые вопросы</h2>

                    <div class="atf-faq-accordion show  mt-4  text-start" id="faqAccordion">
                        {% for question in questions %}
                        <div class="card panel panel-default">
                            <div class="card-header panel-heading">
                                <h2 class="panel-title text-uppercase" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    {{ question }}
                                  </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                                  <div class="card-body panel-body f-15 pe-lg-3">
                                    {{ question.answer }}  
                                  </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div><!--- END COL -->
            </div><!--- END COL -->
            {% endif %}
            
            <div class="col-lg-6" data-aos="fade-up">
                <!-- Google Map start-->
                 <div id="atf-map-area">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8015.198595761624!2d30.29517880983911!3d59.852467420007635!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963bbb86de9da3%3A0x2e537ed7886f953!2sKLARIN%20GL!5e0!3m2!1sru!2sru!4v1715745013056!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <!-- Google Map end -->
            </div><!-- END COL -->
        </div><!--- END ROW -->
    </div><!--- END CONTAINER -->
</section><!--- END FAQ SECTION -->
<!-- FAQ SECTION END-->