{% load static %}


<!-- START OUR TEAM -->
<section id="team" class="atf-team-area atf-section-padding sub-heading-border ">
    <div class="container">	
        <div class="row justify-content-center">
            <div class="col-lg-6" data-aos="fade-up">
                <div class="atf-section-title  text-center ">
                    <h5 class="sub-title sub-title-1">Our Popular <span>Team</span> </h5>
                    <h2 class="title-color">Support are Interested for <span>Logistic</span> Team of Ocean Freight</h2>
                    <p class="f-15 mt-3">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text</p>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
            
        <div class="row mt-5 pt-4">
            <div class="col-lg-3" data-aos="fade-up">
                <div class="my-team">
                    <div class="pic">
                        <img class="img-fluid" src="{% static 'index_app/assets/img/team/1.jpg' %}" alt="team">
                        <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h5 class="title"><a href="team.html.htm">Abdul Hamid</a></h5>
                        
                        <span class="post">Road Freight</span>
                    </div>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3" data-aos="fade-up">
                <div class="my-team">
                    <div class="pic">
                        <img class="img-fluid" src="{% static 'index_app/assets/img/team/2.jpg' %}" alt="team">
                        <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h5 class="title"><a href="team-details.html.htm">Abdul Malik</a></h5>
                        <span class="post">Road Freight</span>
                    </div>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3" data-aos="fade-up">
                <div class="my-team">
                    <div class="pic">
                        <img class="img-fluid" src="{% static 'index_app/assets/img/team/3.jpg' %}" alt="team">
                        <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h5 class="title"><a href="team.html.htm">Abdul Basit</a></h5>
                        <span class="post">Road Freight</span>
                    </div>
                </div>
            </div><!--- END COL -->
            
            <div class="col-lg-3" data-aos="fade-up">
                <div class="my-team">
                    <div class="pic">
                        <img class="img-fluid" src="{% static 'index_app/assets/img/team/4.jpg' %}" alt="team">
                        <ul class="social-links">
                            <li><a href="#" class="fab fa-twitter"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-linkedin"></a></li>
                            <li><a href="#" class="fab fa-facebook"></a></li>
                        </ul>
                    </div>
                    <div class="team-content">
                        <h5 class="title"><a href="team.html.htm">Abdul Akhir</a></h5>
                        <span class="post">Road Freight</span>
                    </div>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->	
    </div><!--- END CONTAINER -->
</section>
<!-- END TEAM -->