 {% load static %}

 <!-- START FACILITIES -->
 <section id="booking" class="atf-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" data-aos="fade-up" id="fast_calculate_form">
                <div class="atf-section-title text-start">
                    <h5 class="sub-title">Запрос расчета перевозки</h5>
                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <div class="atf-booking-form">
                                <div class="atf-booking-form-box row">
                                    <div class="atf-booking-form-item col-lg-6 col-md-6">
                                        <span>Откуда</span>
                                        <div class="form-group mb-0">
                                            <select 
                                                id="departureCity" 
                                                class="nice-select departureCity"
                                            >
                                                <option data-display="Выберите город" value="">...</option>
                                                {% for city in cities_from_list %}
                                                <option value="{{ city.id }}">{{ city.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <p 
                                                v-if="errors.cityFromId" 
                                                class="asOrderFormErrorMessage"
                                            >
                                                Обязательное поле!
                                            </p>
                                        </div>
                                    </div> 
                                    <div class="atf-booking-form-item col-lg-6 col-md-6">
                                        <span>Куда</span>
                                        <div class="form-group mb-0">
                                            <select 
                                                id="receivingCity" 
                                                class="nice-select receivingCity"
                                            >
                                                <option data-display="Выберите город" value="">...</option>
                                                {% for city in cities_list %}
                                                <option value="{{ city.id }}">{{ city.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <p 
                                                v-if="errors.city_to_id" 
                                                class="asOrderFormErrorMessage"
                                            >
                                                Обязательное поле!
                                            </p>
                                        </div>
                                    </div> 
                                    
                                    <div class="atf-booking-form-item col-12 col-md-6">
                                        <span>Объем</span>
                                        <div class="form-group mb-0">
                                            <input 
                                                type="number" 
                                                v-model="volume" 
                                                class="form-control" 
                                                placeholder="м3"
                                                min="0"
                                            >
                                        </div>
                                        <p 
                                            v-if="errors.volume"
                                            class="asOrderFormErrorMessage"
                                        >
                                            Обязательное поле!
                                        </p>
                                    </div>
                                    <div class="atf-booking-form-item col-12 col-md-6">
                                        <span>Вес</span>
                                        <div class="form-group mb-0">
                                            <input 
                                                type="number" 
                                                v-model="weight" 
                                                class="form-control" 
                                                placeholder="кг"
                                                min="0"
                                            >
                                        </div>
                                        <p  
                                            v-if="errors.weight"
                                            class="asOrderFormErrorMessage"
                                        >
                                            Обязательное поле!
                                        </p>
                                    </div>
                                    <div class="mt-3 row col-12 flex-row-reverse padding-right-0">
                                        <div 
                                            class="col-lg-4 col-md-4 padding-0 text-align-right">
                                            <div class="atf-main-btn"> 
                                                <button 
                                                    v-if="loading"
                                                    class="atf-themes-btn atf-themes-btn-one" 
                                                    style="padding: 5px 56px 3px;"
                                                >
                                                    <div class="spinner-border text-light" role="status">
                                                    </div>
                                                </button>
                                                <button 
                                                    v-else
                                                    @click="fastCalulateOrder" 
                                                    class="atf-themes-btn  atf-themes-btn-one"
                                                >
                                                    <i class="btn-curve"></i>
                                                    <span class="btn-title">
                                                        Рассчитать
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                        <div v-if="price" class="col-8 col-md-8 order-price-block">
                                            <h4 class="text-align-left">${ orderPrice }$ &#8381;</h4>
                                        </div>
                                    </div>
                                    <div 
                                        v-if="price"
                                        class="mt-3 row col-12 flex-row-reverse padding-right-0">
                                        <div class="col-lg-6 col-md-6 padding-0 text-align-right"
                                        >
                                            <button 
                                                @click="orderConfirm($event)"
                                                class="atf-themes-btn atf-themes-btn-one" 
                                            >
                                                <i class="btn-curve"></i>
                                                <span class="btn-title">Подробный расчет</span>
                                            </button>
                                        </div>
                                    </div>
                                    <Transition>
                                        <div v-if="serverErrors.length > 0">
                                            <div class="atf-facilities-services d-flex mt-2 text-left">
                                                <div class="atf-facilities-text ms-3">
                                                    <p 
                                                        v-for="error in serverErrors" 
                                                        v-bind:key="error.id"
                                                    >
                                                    ${error}$
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </Transition>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-5">
                <div class="atf-about-image">
                    <div class="atf-about-images text-center">
                        <img src="{% static 'index_app/assets/img/klaringl/calculate.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div><!--- END OWL -->
            </div><!--- END COL -->
        </div><!--- END ROW -->

        
    </div><!--- END CONTAINER -->
</section>
<!-- END FACILITIES -->

{% block local_scripts %}
<script src="{% static 'index_app/assets/js/jquery-1.12.4.min.js' %}"></script>
<script>
    $(document).ready(function() {
        $('.receivingCity').niceSelect();
        $('.departureCity').niceSelect();
    });
</script>

<script type="module">
    const { createApp } = Vue
    const FastcalculateForm = {
        data() {
            return {
                volume: "",
                weight: "",
                errors: {},
                price: 0,
                serverErrors: [],
                loading: false,
            }
        },
        delimiters: ["${", "}$"],
        computed: {
            orderPrice () {
                return Math.floor(this.price).toLocaleString()
            },
            loadingStatus () {
                return this.loading
            }
        },
        methods: {
            checkCalculateValidation () {
                let isValidCalcForm = true
                this.errors = {}
                let city_from_id = $('#departureCity').val()
                if (!city_from_id) {
                    isValidCalcForm = false
                    this.errors.cityFromId = true
                }
                let city_to_id = $('#receivingCity').val()
                if (!city_to_id) {
                    isValidCalcForm = false
                    this.errors.city_to_id = true
                }
                if (!this.volume) {
                    isValidCalcForm = false
                    this.errors.volume = true
                }
                if (!this.weight) {
                    isValidCalcForm = false
                    this.errors.weight = true
                }
                return isValidCalcForm
            },
            getOrderData () {
                let data = {
                    city_from_id: $('#departureCity').val(),
                    city_to_id: $('#receivingCity').val(),
                    weight: parseFloat(this.weight ? this.weight : 0),
                    volume: parseFloat(this.volume ? this.volume : 0),
                }
                return data
            },
            async fastCalulateOrder () {
                this.price = 0
                this.serverErrors = []
                if (this.checkCalculateValidation()) {
                    let url = `${window.location.origin}/api/v1/calculator/fast-calculate/`
                    this.loading = true
                    await axios({
                        method: 'post',
                        url: url,
                        data: { "data": this.getOrderData()},
                    }).then((resp) => {
                        this.price = resp.data.data.cost
                    }).catch(error => {
                        if (error.response.status === 404) {
                            this.serverErrors.push("Такого маршрута не существует, выберите другие города")
                        } else {
                            this.serverErrors.push("Сервис временно недоступен, попробуйте сделать расчет позднее")
                        }
                        console.log(error)
                    }).finally(() => {
                        this.loading = false
                    })
                }
            },
            orderConfirm (evt) {
                evt.preventDefault()
                window.location.assign(window.location.origin + `/calc/?${new URLSearchParams(this.getOrderData()).toString()}`)
            }
        }
    }
    createApp(FastcalculateForm).mount('#fast_calculate_form')
</script>
{% endblock %}
