 {% load static %}

 <!-- START FACILITIES -->
 <section id="booking" class="atf-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" data-aos="fade-up">
                <div class="atf-section-title  text-start">
                    <h5 class="sub-title">Запрос расчета перевозки</h5>
                    <h2 class="title-color">Booking your Logistic <span>Transportation</span> Best Product Solution in the world</h2>
                    <div class="row mt-5">
                        <div class="col-lg-12">
                            <div class="atf-booking-form">
                                <form action="#" class="atf-booking-form-box row">
                                    <div class="atf-booking-form-item col-lg-6 col-md-6">
                                        <div class="form-group mb-0">
                                            <input type="text" name="from" class="form-control" id="from" placeholder="City from" required="required">
                                            <div class="input-group-addon"></div>
                                        </div>
                                    </div> 

                                    <div class="atf-booking-form-item col-lg-6 col-md-6">
                                        <div class="form-group mb-0">
                                            <input type="text" name="to" class="form-control" id="to" placeholder="City to" required="required">
                                            <div class="input-group-addon"><i class="fas fa-phone"></i></div>
                                        </div>
                                    </div> 
                                    
                                    <div class="atf-booking-form-item col-lg-4 col-md-6">	
                                        <select class="nice-select">
                                            <option>Fright Type</option>
                                            <option>Hair</option>
                                            <option>Spa</option>
                                            <option>Salon</option>
                                            <option>Cutting</option>
                                        </select>
                                    </div> 
                                    <div class="atf-booking-form-item col-lg-4 col-md-6">	
                                        <select class="nice-select">
                                            <option>Departure</option>
                                            <option>Hair</option>
                                            <option>Spa</option>
                                            <option>Salon</option>
                                            <option>Cutting</option>
                                        </select>
                                    </div> 
                                    <div class="atf-booking-form-item col-lg-4 col-md-6">	
                                        <select class="nice-select">
                                            <option>Delivery</option>
                                            <option>Hair</option>
                                            <option>Spa</option>
                                            <option>Salon</option>
                                            <option>Cutting</option>
                                        </select>
                                    </div>

                                    <div class="atf-booking-form-item col-lg-4 col-md-6">	
                                        <select class="nice-select">
                                            <option>Height</option>
                                            <option>Hair</option>
                                            <option>Spa</option>
                                            <option>Salon</option>
                                            <option>Cutting</option>
                                        </select>
                                    </div> 
                                    <div class="atf-booking-form-item col-lg-4 col-md-6">	
                                        <select class="nice-select">
                                            <option>Weight</option>
                                            <option>Hair</option>
                                            <option>Spa</option>
                                            <option>Salon</option>
                                            <option>Cutting</option>
                                        </select>
                                    </div> 
                                    <div class="atf-booking-form-item col-lg-4 col-md-6">	
                                        <select class="nice-select">
                                            <option>Income</option>
                                            <option>Hair</option>
                                            <option>Spa</option>
                                            <option>Salon</option>
                                            <option>Cutting</option>
                                        </select>
                                    </div>
                                    
                                    <div class="mt-4 col-lg-8 col-md-8">
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                          <label class="form-check-label" for="inlineCheckbox1">Packging</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                                          <label class="form-check-label" for="inlineCheckbox2">Delivery</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                                          <label class="form-check-label" for="inlineCheckbox2">Width</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                                          <label class="form-check-label" for="inlineCheckbox2">Height</label>
                                        </div>
                                        
                                    </div>
                                    <div class="mt-3 col-lg-4 col-md-4">
                                        <div class="atf-main-btn"> 
                                            <a class="atf-themes-btn  atf-themes-btn-one" href="booking.html.htm">
                                                <i class="btn-curve"></i>
                                                <span class="btn-title">Booking Now</span>
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--- END COL -->
            
            
            <div class="col-lg-5">
                <div class="atf-about-image">
                    <div class="atf-about-images text-center">
                        <img src="{% static 'index_app/assets/img/about/delivery.jpg' %}" class="img-fluid" alt="about">
                    </div>
                </div><!--- END OWL -->
            </div><!--- END COL -->
        </div><!--- END ROW -->

        
    </div><!--- END CONTAINER -->
</section>
<!-- END FACILITIES -->

{% include "index_app/includes/checkstatus.html" %}