{% load static %}
<!-- START HIRE SECTION  -->
<section class="atf-hire" style="background-image: url({% static 'index_app/assets/img/bg/bg-2.jpg' %});  background-size:cover; background-attachment:fixed;">
	<div class="atf-section-padding atf-hire-overlay">
		<div class="container">
			<div class="row justify-content-start">
				<div class="col-lg-6" data-aos="fade-up">
					<div class="atf-section-title text-start">
						<h5 class="text-white text-decoration-underline ">Постоянная информационная поддержка</h5>
						<h2 class="text-white title-color"> Мы ответим на Ваши вопросы в кротчайшие сроки </h2>
						<p class="f-15 mt-3 text-white"> Наши сотрудники найдут верное решение любой логистической задачи </p>
						<div class="atf-main-btn  mt-4"> 
							<a class="atf-themes-btn  atf-themes-btn-one" href="{% url 'index:contacts' %}">
								<i class="btn-curve"></i>
								<span class="btn-title">Связаться с нами</span>
							</a>
						</div>
					</div>
				</div><!--- END COL -->
			</div><!--- END ROW -->
		</div><!--- END CONTAINER -->
	</div><!--- END CONTAINER -->
</section>
<!-- END HIRE SECTION  -->