{% load static %}

<!-- FACILITIES START -->
<section id="facilities" class="atf-skill-area bg-light bg-image-right atf-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 pe-lg-5 align-self-center" data-aos="fade-up">
                <div class="about-us-info-wrap">
                    <div class="atf-section-title text-start pe-lg-5">
                        <h5 class="sub-title">What We Do</h5>
                        <h2 class="title-color">Your Goal to work Logistic <span>Activities</span> Solution of Business</h2>
                        <div class="atf-facilities-services d-flex mt-5 text-left">
                            <div class="atf-facilities-img mb-2">
                                <img class="img-fluid" src="{% static 'index_app/assets/img/feature/003-multimedia.png' %}" alt="Feature">
                            </div>
                            
                            <div class="atf-facilities-text ms-3">
                                <h5 class="mb-3">Best Time Management</h5>
                                <p> It was popularised in the 1960s with the release of Letraset sheets containing .</p>
                            </div>
                        </div>
                        <div class="atf-facilities-services d-flex text-left">
                            <div class="atf-facilities-img mb-2">
                                <img class="img-fluid" src="{% static 'index_app/assets/img/feature/002-academic-cap.png' %}" alt="Feature">
                            </div>
                            
                            <div class="atf-facilities-text ms-3">
                                <h5 class="mb-3">Secure & Trust</h5>
                                <p> It was popularised in the 1960s with the release of Letraset sheets containing .</p>
                            </div>
                        </div>

                        <div class="atf-main-btn mt-4"> 
                            <a class="atf-themes-btn  atf-themes-btn-one" href="#">
                                <i class="btn-curve"></i>
                                <span class="btn-title">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 align-self-center">
                <div class="skill-img-wrap">
                    <div class="atf-singl-video">
                        <div class="waves-box">
                            <a href="https://www.youtube.com/embed/NPfnLKLuJ_U" data-rel="lightcase:myCollection" class="iq-video"> <i class="fi fi-rr-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FACILITIES END -->