

.as-animate {
    padding: 3em 3em;
    border: 1px solid #eaeaea;
	border-radius: 4px;
	background: #fff;
    box-shadow: 5px 5px 5px #eaeaea;
}

.as_sidebar__social a {
    padding: 5px 15px;
}

.atf_header_top .atf-drop-menu a:hover{
	color:  var(--thm-white);
}

.atf-booking-form-item.padding-right-20 {
    padding-right: 20px !important;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.padding-right-0 {
    padding-right: 0px !important;
}

.padding-0 {
    padding: 0px !important;
}

.text-align-right {
    text-align: right !important;
}

.text-align-left {
    text-align: left !important;
}

.order-price-block h4 {
    text-align: end;
    font-size: 36px;
    font-weight: 600;
    color: #EC180B;
}

.margin-auto {
    margin: auto !important;
}

.asOrderFormError {
    background-color: #FDC9C9 !important;
}

.asOrderFormErrorMessage {
    font-size: 12px !important;
    color : #FF474A !important;
}

.as-delimiter {
    border-bottom: 1px solid #677a85;
}

.as-form-group input[type="date"] {
    color: #677a85;
}

.as-form-group input[type="time"] {
    color: #677a85;
}

.as-form-group input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.8;
    filter: invert(0.5);
}

.as-form-group input[type="time"]::-webkit-calendar-picker-indicator {
    opacity: 0.8;
    filter: invert(0.5);
}


/* Nice Select Custom CSS */

.nice-select,
.nice-select.open .list {
  width: 100%;
  border-radius: 8px;
}

.nice-select .list::-webkit-scrollbar {
    width: 0
}

.nice-select .list {
    margin-top: 5px;
    top: 100%;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    max-height: 450px;
    overflow-y: scroll;
    padding: 80px 0 0
}

.nice-select.has-multiple {
    white-space: inherit;
    height: auto;
    padding: 7px 12px;
    min-height: 53px;
    line-height: 22px
}

.nice-select.has-multiple span.current {
    border: 1px solid #CCC;
    background: #EEE;
    padding: 0 10px;
    border-radius: 3px;
    display: inline-block;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 3px;
    margin-right: 3px
}

.nice-select.has-multiple .multiple-options {
    display: block;
    line-height: 37px;
    margin-left: 30px;
    padding: 0
}

.nice-select .nice-select-search-box {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    margin-top: 5px;
    top: 100%;
    left: 0;
    z-index: 8;
    padding: 5px;
    background: #FFF;
    opacity: 0;
    pointer-events: none;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 0 1px rgba(68, 88, 112, .11);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(.75) translateY(-21px);
    -ms-transform: scale(.75) translateY(-21px);
    transform: scale(.75) translateY(-21px);
    -webkit-transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out
}

.nice-select .nice-select-search {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    color: #677a85;
    display: inline-block;
    vertical-align: middle;
    padding: 7px 12px;
    margin: 0 10px 0 0;
    width: 100%!important;
    min-height: 36px;
    line-height: 22px;
    height: auto;
    outline: 0!important
}

.nice-select.open .nice-select-search-box {
    opacity: 1;
    z-index: 10;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0)
}

.remove:hover {
  color: red
}

.fast-calulate .form-check-inline label {
    font-size: 14px;
    color: #677a85;
}